div.Featured {
    span.success,
    span.error {
        display: block;
        margin-bottom: 15px;
    }
    span.success {
        color: #008000;
    }
    span.error {
        color: #b30b0b;
    }
}

@media only screen and (max-device-width: 480px) {
    div.Featured {
        
    }
}