$orange: #E37C18;

div.Home {
    h2 {
        span {
            cursor: pointer;
            color: $orange;
        }
    }
    ul {
        list-style: none;
        padding: 0px;
        margin-bottom: 15px;
        a:visited {
            background-color: $orange;
        }
        a.btn-primary {
            color: #FFF;
            background-color: $orange;
            border: none;
            margin-right: 5px;
        }
        li {
            display: inline-block;
            cursor: pointer;
        }
        li:hover {
            opacity: 0.5;
        }
    }
}

@media only screen and (max-device-width: 480px) {
    div.Home {
        
    }
}