html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
div#ui-datepicker-div {
    position: absolute;
    z-index: 20;
}

div#amenities {
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

div#amenities label {
    float: left;
    display: inline-block;
}

span.labelauty-unchecked {
    padding-right: 15px;
}

div#loading-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #E37C19;
    text-align: center;
}

img#loading-logo {
    width: 50%;
    max-width: 750px;
}

div#loading-container div {
    transform: translateY(50%);
}

ul.pagination {
    cursor: pointer;
}

#badges-wrapper {
    text-align: left;
}

#badges-wrapper img {
    width: 100px;
    display: inline-block;
}

div.user-feedback span.date {
  font-weight: bold;
  font-size: 0.75em;
  padding-top: 25px;
}

#jadeallencook {
  cursor: pointer;
}

#aoLoader {
    border: 1px solid #ccc;
    width: 170px;
    height: 170px;
    overflow: hidden;
}

#aoLoader.aoLoading {
    background: url(http://www.availabilityonline.com/admin/images/ajax-loader-larger.gif) no-repeat center center;
}