div.Reviews {
    > div.row {
        margin-left: 0px;
        width: 100%;
        > div.user-feedback {
            margin: 0px auto;
            width: 95%;
            > span.text.response {
                display: block;
                margin-top: 15px;
            }
        }
    }
}

@media only screen and (max-device-width: 480px) {
    div.Reviews {
        > div.row {
            > div.user-feedback {
                width: 90%;
            }
        }
    }
}